<ion-grid id="header-container" no-padding *ngIf="user">
    <ion-row justify-content-between padding>

        <ion-col size="3" no-padding text-center>
            <ion-avatar class="img-fill-space" (click)="test()">
                <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
            </ion-avatar>
        </ion-col>

        <ion-col size="9" no-padding>
            <oel-number-item (evClick)="openUserList()" [number]="user.friendsSum" [label]="'sauces'"></oel-number-item>
        </ion-col>

    </ion-row>
    <ion-row padding class="test">
        <ion-label class="fill-full-width" color="primary">{{ _util.capitalize([user.firstname, user.lastname]) }}</ion-label>
        <oel-button class="fill-full-width" (evClick)="buttonAction()" [label]="buttonLabel"></oel-button>
    </ion-row>
</ion-grid>

<ion-list>
    <oel-user-item
            *ngFor="let user of notifications"
            [user]="user"
            [okMsg]="'Accepter'"
            [koMsg]="'Bof'"
            (evOk)="becomeFriend(user)"
            (evKo)="refuseFriend(user)"
    ></oel-user-item>
</ion-list>