<ion-header>
    <ion-toolbar>
        <oel-page-title [text]="'Night\'s Map'"></oel-page-title>
        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="calendar"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="map-container">
        <div (click)="handleShowDetail(false)" class="leaflet-map-container">
            <div class="map-absolute-container">
                <app-map-leaflet *ngIf="clubs" [clubs]="clubs" (onClubSelected)="retrieveClub($event)"></app-map-leaflet>
            </div>
        </div>
        <div [ngClass]="{'detail-map-container': true, 'detail-map-hide': !showDetail}"></div>
    </div>
</ion-content>

<!--
<app-map-leaflet *ngIf="clubs" [clubs]="clubs" (onClubSelected)="retrieveClub($event)"></app-map-leaflet>

    <ion-slides id="map-detail" pager="true">

        <ion-slide *ngIf="!clubSelected; else clubDetails">
            <h1>Selectionnez un lieu</h1>
        </ion-slide>

        <ng-template #clubDetails>
            <ion-slide>
                <ion-grid class="fill-full-width fill-full-height">
                    <ion-row class="fill-full-width">
                        <ion-col size="12" no-padding>
                            <ion-card-subtitle text-uppercase text-start>{{ clubSelected.type }}</ion-card-subtitle>
                            <ion-card-title text-start>{{ clubSelected.name }}</ion-card-title>
                            <ion-card-content text-start>
                                {{ clubSelected.description }}
                            </ion-card-content>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
            <ion-slide class="scroll-y">
                <ion-grid class="fill-full-width fill-full-height">
                    <ion-row class="fill-full-width">
                        <ion-list class="fill-full-width" lines="full">
                            <ion-item class="fill-full-width" *ngFor="let friend of friendList">
                                <ion-avatar slot="start">
                                    <img [src]="friend.profilePicture">
                                </ion-avatar>
                                <ion-label>{{ friend.pseudo }}</ion-label>
                            </ion-item>
                            <ion-item class="empty-block" lines="none"></ion-item>
                        </ion-list>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ng-template>

    </ion-slides>

-->