<ion-content padding-top>
    <ion-grid>
        <form class="fill-full-width fill-full-height" [formGroup]="selectedForm" (ngSubmit)="submit()">
            <ion-item class="oel-input" *ngFor="let field of selectedFields">
                <ion-label position="floating">{{ field.label }}</ion-label>
                <ion-input [formControlName]="field.name" [type]="field.type" [placeholder]="field.placeholder"></ion-input>
            </ion-item>

            <ion-grid no-padding>
                <ion-row justify-content-center>
                    <ion-button color="primary" type="submit" [disabled]="!loginForm.valid">Me connecter</ion-button>
                </ion-row>
            </ion-grid>
        </form>

        <ion-button fill="clear" expand="full" (click)="selectLoginForm()">Me connecter</ion-button>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
            <p>Vous n'avez pas de compte ? Inscrivez-vous</p>
    </ion-toolbar>
</ion-footer>