// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.img-fill-space {
  height: 75px;
  width: 75px;
}

.text-bold {
  font-weight: bold;
}

.background-light {
  background-color: var(--ion-color-light);
}

.fill-full-height {
  height: 100%;
}

.fill-full-width {
  width: 100% !important;
}

.scroll-y {
  overflow-y: scroll;
}

// ===== V2 =====
.oel-input {
  width: 100%;
  --background: none;
}