<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="dismiss()">
                Fermer
            </ion-button>
        </ion-buttons>
        <ion-title>Modifier profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="fill-full-width" [formGroup]="formUser" (ngSubmit)="saveUserInformations()">
        <ion-item class="oel-input" *ngFor="let field of fields">
            <ion-label color="primary" position="floating">{{ field.label }}</ion-label>
            <ion-input
                    color="primary"
                    [formControlName]="field.name"
                    [type]="field.type"
                    [placeholder]="field.placeholder"
                    [(ngModel)]="user[field.model]"
            ></ion-input>
        </ion-item>
    </form>
</ion-content>
